:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* About */
div.about {
  color: #333;
}

.homepage-card {
  background: url(./assets/img/homepage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background: url(./assets/img/homepage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.about-icon {
  font-size: 2rem;
  color: #333;
  padding: 10px;
}

.feature-icons,.learning-icons {
  border-radius: 5px;
  padding: 8px;
}


